.parent{
    display: flex;
    width: 100%;
    padding: 2%;
    margin: 2%;
}
.parent>.card{
    width: 20%;
    padding:1%;
    margin: 1%;
    border: 2px solid black;
    text-align: center;    
}
.button{
    color: blue;
    
}
img{
    width: 100px;
}
@media only screen and {min-width: 320px} and {max-width: 400px}
body{
    background-color: pink;
}
.parent{
    display: flex;
    flex-direction:column;
}
.parent>.card{
    width: 90%;
}
}

        

